{% extends "base.html" %}

{% block title %}Bookmarklet{% endblock %}

{% block content %}
  <h1>Bookmark Images from Any Website</h1>
  <p>Drag the following button to your browser's bookmarks toolbar to install the bookmarklet:</p>
  
  <p>
    <a href="javascript:{% include 'bookmarklet_launcher.js' %}" class="bookmarklet-btn">
      Bookmark it!
    </a>
  </p>
  
  <h2>How to use:</h2>
  <ol>
    <li>Drag the "Bookmark it!" button above to your bookmarks toolbar</li>
    <li>Go to any website with images you want to bookmark</li>
    <li>Click the "Bookmark it!" bookmarklet in your toolbar</li>
    <li>Select an image to bookmark from the overlay that appears</li>
    <li>Add a description and save!</li>
  </ol>
{% endblock %}